# CODEOWNERS
#
# Documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Abhilash (abhi16394)
# Bahubali Jain (bpjain2004)
# Boya Murthy (boyamurthy)
# Deepak Ghivari (Deepak-Ghivari)
# Francis Nijay (francis-nijay)
# Karthik K (karthikk92)
# Matt Schmaelzle (mjsdell)
# Nitesh Rewatkar (nitesh3108)
# Prasanna Muthukumaraswamy (prablr79)
# Rajendra Indukuri (rajendraindukuri)
# Randeep Sharma (randeepsharma)
# Rensy Thomas (rensyct)
# Spandita Panigrahi (panigs7)

# for all files:
* @abhi16394 @bpjain2004 @boyamurthy @Deepak-Ghivari @francis-nijay @karthikk92 @mjsdell @nitesh3108 @prablr79 @rajendraindukuri @randeepsharma @rensyct @panigs7
